.addFilmIcon {
    font-size: 3rem;
    color: #0d6efd;
}

.addFilmIcon:hover {
    cursor: pointer;
    color: #00388b;
}

.d-flex.flex-row-reverse.bd-highlight {
    padding: 5rem;
}

tbody {
    font-size: 1.2rem;
    font-weight: normal;
}

.trashIcon:hover {
    cursor: pointer;
    color: black;
}

.form-check > .form-check input,
.form-check > .form-check label {
    cursor: pointer;
}
p{
    display: inline;
}